$color-black: #000000;
$color-white: #FFFFFF;
// $color-grey: ;
// $color-light-grey: ;
$color-dark-grey: #1B1C23;
// $color-blue: ;
$color-light-blue: #6184D8;
// $color-dark-blue: ;
$color-yellow: #F9E005;
// $color-light-yellow: ;
// $color-dark-yellow: ;

// $font-family: ;

